.card {
    @include raise-hover;
    margin: 15px 0;
    padding: 5px;
    height: 250px;
    background-color: $white;

    a {
        color: black;
    }

    img {
        max-height: 240px;
    }
}

button {
    @include button-shadows;
    padding: 5px 10px;
    border: none;

    &.primary {
        background-color: $primary;
        color: $white;
        @include light-hover($primary);
    }

    &.light {
        background-color: $light;
        color: $primary;
        @include light-hover($light);
    }
}
