<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.admin || isAdmin()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <button ng-show="!user" ui-sref="signup" class="btn login-button">Sign Up</button>

        <div
            class="btn-group"
            id="profile-dropdown"
            ng-show="user"
            uib-dropdown
            dropdown-append-to-body>
            <button
                id="btn-append-to-body"
                type="button"
                class="btn login-button"
                uib-dropdown-toggle>
                My Profile <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li>
                    <a ui-sref="userOrders({id: user._id})">
                      My Orders
                    </a>
                </li>
                <li>
                    <a href="">
                        Change Password
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>

        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
        </div>
    </div>
</nav>
