<div>
    <input
        type="text"
        placeholder="Filter categories..."
        ng-model="query"
        class="form-control product-form"
    >
    <ul class="category-list">
        <div ng-repeat="category in categories | filter : query">
            <a ui-sref="products({ categories: category._id })">
                <li>
                    <h4>
                        {{category.name}}
                    </h4>
                </li>
            </a>
        </div>
        <a ui-sref="products({ categories: null, title: null })">
            <li>
                <h4>
                    All
                </h4>
            </li>
        </a>
    </ul>
</div>
