<div class="container">
    <div class="row">
        <product-categories
            categories="categories"
            class="col-xs-4">
        </product-categories>
        <product-search
            class="col-xs-4">
        </product-search>

    </div>

    <!-- Repeat for in-stock products and organize into bootstrap grid -->
    <div
        ng-repeat="product in inStock track by $index"
        ng-if="$index % 3 === 0"
        class="row">
        <div
            ng-repeat="i in [$index, $index + 1, $index + 2]"
            ng-if="inStock[i]"
            class="col-xs-4">
            <div class="card">
                <product-item product="inStock[i]" full="false"></product-item>
            </div>
        </div>
    </div>
</div>
