<div class="row">
    <h1 ng-show="editMode">EDITING</h1>
    <div class="col-xs-4">
        <img ng-src="{{product.imageUrl}}" class="img-responsive">
        <div ng-show="editMode">
            Image Url: <span contenteditable="{{editMode}}" ng-model="product.imageUrl"></span>
        </div>
    </div>


    <div class="col-xs-8">
        <h3
            contenteditable="{{editMode}}"
            ng-model="product.title">
        </h3>

        <p ng-hide="editMode">
            {{product.price / 100 | currency }}
        </p>

        <div ng-show="canEdit && full">
            <p>
                Inventory count:
                <p
                    contenteditable="{{editMode}}"
                    ng-model="product.inventory">
                </p>
            </p>
        </div>

        <div ng-show="editMode">
            <p>Price (in cents):</p>
            <p
                contenteditable="{{editMode}}"
                ng-model="product.price">
                {{product.price}}
            </p>
        </div>

        <p ng-hide="editMode">
            <span ng-repeat="category in product.categories">
                <span ng-if="$index > 0">, </span>
                {{category}}
            </span>
        </p>

        <!-- Good reason to make a category schema in db -->
        <edit-product-categories
            ng-show="editMode"
            categories="['Costumes', 'Formal', 'Seasonal', 'Outerware']"
            product="product">
        </edit-product-categories>

        <p
            ng-if="full"
            contenteditable="{{editMode}}"
            ng-model="product.description">
        </p>

        <a
            ui-sref="singleProduct({ productId: product._id })"
            ng-if="!full && !canEdit">
            <p>More Info</p>
        </a>

        <a
            ui-sref="admin.singleProduct({ id: product._id })"
            ng-if="!full && canEdit">
            <p>Edit</p>
        </a>

        <div ng-hide="canEdit">
            <button
                ng-click="addToCart(product._id)"
                ng-if="product.inventory > 0"
                class="btn btn-primary">
            Add to Cart
            </button>
            <p ng-if="product.inventory === 0">Out of stock!</p>
        </div>
        </br>

        <button
            ng-click="toggleEditMode()"
            ng-if="full && canEdit"
            class="btn">
            <span ng-hide="editMode">Edit</span>
            <span ng-show="editMode">Cancel</span>
        </button>
        <button
            ng-click="save(product)"
            ng-show="editMode"
            class="btn btn-primary">
            Save
        </button>
    </div>

</div>
