<div class="container">
    <product-search></product-search>
    <product-categories categories="categories"></product-categories>


    <!-- Repeat for in-stock products and organize into bootstrap grid -->
    <div
        ng-repeat="product in inStock track by $index"
        ng-if="$index % 2 === 0"
        class="row">
        <div
            ng-repeat="i in [$index, $index + 1]"
            ng-if="inStock[i]"
            class="col-md-6">
            <div class="card">
                <product-item product="inStock[i]" full="false"></product-item>
            </div>
        </div>
    </div>
</div>
