
<div class="container">
    <product-item
        class="col-xs-12 product-full"
        product="product"
        average-rating="averageRating"
        full="true">
    </product-item>
    <h3> Avg Rating: {{averageRating}} </h3>
    <button ng-if="user" ng-click="toggleReviewForm()">
        <span ng-show="!showReviewForm">Add a Review</span>
        <span ng-show="showReviewForm">Cancel</span>
    </button>
    <h5 ng-if="showReviewForm">
        <add-review><add-review>
    </h5>
    <div ng-repeat="review in reviews">
		<h4>Title: {{review.title}} Rating: {{review.rating}}</h4>
        <h6>{{ review.user.email }}</h6>
		<p>{{review.description}}</p>
	</div>
</div>
