product-categories {

    input {
        & + ul {
            display: none;
        }

        &:focus + ul, & + ul:active {
            display: block;
        }
    }

    ul {
        @include primary-shadow;

        list-style: none;
        width: 300px;
        margin-top: 6px;
        background-color: $light;
        color: $primary;
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }

    li {
        margin-left: -40px;
        padding: 2px 6px 2px 6px;
        &:hover {
            background-color: $white;
        }
    }
}
