<section id="home">
    <div class="container">
        <h3>Browse in our Featured Categories!</h3>
        <div class="col-xs-12">
            <div ng-repeat="category in categories">
                <a ui-sref="products({categories: category._id})">
                    <div class="col-xs-6 categoryBox">
                        <div class="col-xs-12">
                            <h4>{{category.name}}</h4>
                            <span class="fa fa-reddit-alien"></span>
                        </div>
                    </div>
                </a>
            </div>


            <!-- <a ui-sref="products({categories: '569f02ed6c707319397cb79f'})">
                <div class="col-xs-6 categoryBox">
                    <div class="col-xs-12">
                        <h4>Costumes</h4>
                        <span class="fa fa-reddit-alien"></span>
                    </div>
                </div>
            </a>
            <a ui-sref="products({categories: '569f02ed6c707319397cb79e'})">
                <div class="col-xs-6 categoryBox">
                    <div class="col-xs-12">
                        <h4>Outerwear</h4>
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                    </div>
                </div>
            </a>
            <a ui-sref="products({categories: '569f02ed6c707319397cb7a0'})">
                <div class="col-xs-6 categoryBox">
                    <div class="col-xs-12">
                        <h4>Formal</h4>
                        <span class="fa fa-black-tie"></span>
                    </div>
                </div>
            </a>
            <a ui-sref="products({categories: '569f02ed6c707319397cb7a1'})">
                <div class="col-xs-6 categoryBox">
                    <div class="col-xs-12">
                        <h4>Seasonal</h4>
                        <span class="fa fa-cloud"></span>
                        <span class="glyphicon glyphicon-tint"></span>
                    </div>
                </div>
            </a> -->
        </div>
    </div>
    <div class="container">
        <h3>Or Check out the Featured Products This Week!</h3>
    </div>
    <div class="container featured">
        <div ng-repeat="product in featured" class="card col-xs-6 col-sm-4 col-md-3">
            <product-item product="product" full="false" />
        </div>
    </div>
</section>
