<form id="review-form" name="reviewForm" ng-submit="submitReview(review, product._id)">
	<alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <div class="form-group">
      <label for="rating">Rating</label>
      <rating ng-model="review.rating" type="number" min='1' max="5"></rating>
     <!--  <input type="number" min='1' max='5' ng-model="review.rating"> -->
    </div>
    <div class="form-group">
      <label for="title">Review Title</label><br/>
      <input name="title" class="form-control" type="text" ng-model="review.title">
    </div>

    <div class="form-group">
      <label for="review-description">Write your review</label>
      <textarea rows="6" class="form-control" ng-model="review.description" required></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>


